<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiss250.myBlog.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.kiss250.myBlog.domain.po.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kiss250.myBlog.domain.po.UserInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info (name, age, create_time, 
      salary)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{salary,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kiss250.myBlog.domain.po.UserInfo">
    update user_info
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      salary = #{salary,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, age, create_time, salary
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age, create_time, salary
    from user_info
  </select>
</mapper>